# Fusionner des données
Fusionner consiste à rassembler les lignes de deux DataFrames en utilisant une clé commune.

In [49]:
import pandas as pd

In [50]:
productions = pd.read_csv('./data/merged.csv')

In [51]:
print("Dataset de", productions.shape[0], "lignes")
productions.head()

Dataset de 78 lignes

,Index,Année,Région,insee_region,Production hydraulique renouvelable (GWh),Production bioénergie renouvelable (GWh),Production éolienne renouvelable (GWh),Production solaire renouvelable (GWh)
0,0,2011,27,639.3,81.6,154.1,58.3,NaN
1,1,2011,32,3.7,327.9,2473.8,47.5,NaN
2,2,2011,44,6519.9,237.8,2685.8,171.9,NaN
3,3,2011,84,19358.3,253.1,606.4,244.3,NaN
4,4,2011,76,7740.1,439.4,1815.1,447.1,NaN

In [52]:
insee_codes = pd.read_csv('./data/insee_regions.csv', names=['Region','region_code'])

In [53]:
print("Dataset de", insee_codes.shape[0], "lignes")
insee_codes.head()

Dataset de 13 lignes

             Region  region_code
0         Grand-Est           44
1         Normandie           28
2  Pays de la Loire           52
3             Corse           94
4   Hauts-de-France           32

In [54]:
df = pd.merge(productions, insee_codes,how='left',left_on="insee_region",right_on="region_code")
print("Dataset de", insee_codes.shape[0], "lignes")
df.head()

Dataset de 13 lignes

,Index,Année,Région,insee_region,Production hydraulique renouvelable (GWh),Production bioénergie renouvelable (GWh),Production éolienne renouvelable (GWh),Production solaire renouvelable (GWh),Region,region_code
0,0,2011,27,639.3,81.6,154.1,58.3,NaN,NaN,NaN
1,1,2011,32,3.7,327.9,2473.8,47.5,NaN,NaN,NaN
2,2,2011,44,6519.9,237.8,2685.8,171.9,NaN,NaN,NaN
3,3,2011,84,19358.3,253.1,606.4,244.3,NaN,NaN,NaN
4,4,2011,76,7740.1,439.4,1815.1,447.1,NaN,NaN,NaN

# Reshape

In [69]:
df = pd.read_csv('./data/stations-velib.csv', delimiter=";")

ParserError: Error tokenizing data. C error: Expected 2 fields in line 280, saw 3